DEFAULT sageos
PROMPT 0
TIMEOUT 10

LABEL sageos
  MENU LABEL SageOS v5.1-beta2 -- Real Edition
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initramfs.gz console=ttyS0 console=tty0

LABEL sageos-debug
  MENU LABEL SageOS v5.1-beta2 (Debug Mode)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initramfs.gz console=ttyS0 console=tty0 loglevel=7
