set timeout=5
set default=0

set menu_color_normal=white/black
set menu_color_highlight=black/white

menuentry "SageOS v5.1 -- Real Edition" {
    linux /boot/vmlinuz console=tty0 console=ttyS0
    initrd /boot/initramfs.gz
}

menuentry "SageOS v5.1 (Debug Mode)" {
    linux /boot/vmlinuz console=tty0 console=ttyS0 loglevel=7
    initrd /boot/initramfs.gz
}
