set timeout=10
set default=0

set menu_color_normal=cyan/black
set menu_color_highlight=black/cyan

menuentry "SageOS v5.1 -- Real Edition" {
    linux /boot/vmlinuz console=ttyS0 console=tty0
    initrd /boot/initramfs.gz
}

menuentry "SageOS v5.1 (Debug Mode)" {
    linux /boot/vmlinuz console=ttyS0 console=tty0 loglevel=7
    initrd /boot/initramfs.gz
}
