UI menu.c32
DEFAULT sageos
PROMPT 1
TIMEOUT 100
MENU TITLE SageOS v5.1 Boot Menu

LABEL sageos
  MENU LABEL SageOS v5.1 -- Real Edition
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initramfs.gz console=ttyS0 console=tty0

LABEL sageos-debug
  MENU LABEL SageOS v5.1 (Debug Mode)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initramfs.gz console=ttyS0 console=tty0 loglevel=7
