set timeout=8
set default=0

insmod efi_gop
insmod efi_uga
insmod all_video
insmod video
insmod gfxterm
insmod jpeg

set gfxmode=1024x768
set gfxpayload=keep
terminal_output gfxterm

if background_image /boot/grub/splash.jpg; then
  set color_normal=white/black
  set color_highlight=black/cyan
else
  set menu_color_normal=cyan/black
  set menu_color_highlight=black/cyan
fi

menuentry "SageOS v3.0 -- Real Edition" {
    linux /boot/vmlinuz console=tty0 console=ttyS0
    initrd /boot/initramfs.gz
}

menuentry "SageOS v3.0 (Debug Mode)" {
    linux /boot/vmlinuz console=tty0 console=ttyS0 loglevel=7
    initrd /boot/initramfs.gz
}
