DEFAULT sageos
PROMPT 0
TIMEOUT 10

LABEL sageos
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initramfs.gz console=tty0 console=ttyS0

LABEL sageos-debug
  MENU LABEL SageOS v3.0 (Debug Mode)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initramfs.gz console=tty0 console=ttyS0 loglevel=7
